<ion-header>
    
 
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Camisas</ion-title> 
   </ion-toolbar>

</ion-header>

<ion-content padding>
    <img src="../assets/image/camisa.jpg"/>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Regata NBA</ion-card-subtitle>
          <ion-card-title>Regata NBA Chicago Bulls Escudo</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            Ideal para você mostrar sua torcida com conforto e liberdade aos movimentos, a regata da NBA apresenta o modelo do Chicago Bulls. A peça é confeccionada em algodão e poliéster de toque macio ao corpo e apresenta design predominantemente preto. Na parte frontal, vem com o nome do time estampado em suas cores tradicionais com efeito estilizado, agregando modernidade ao visual. Há recortes também em vermelho e branco e já nas costas, o mascote do time marca presença. Próximo à barra, o logo da NBA complementa os detalhes. Por fim, a gola é careca e o punho das mangas conta com acabamento canelado para melhor ajuste. Adquira já!
           
        </ion-card-content>
      </ion-card>
</ion-content>
