<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
      <ion-title>Bolas</ion-title> 
     </ion-toolbar>
</ion-header>

<ion-content padding>
    <img src="../assets/image/bola.jpg"/>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Bola Spalding</ion-card-subtitle>
          <ion-card-title>Bola de Basquete Spalding TF-150 Selo Fiba 7</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            MARCA

            Spalding
            <br>
            GÊNERO
            
            Unissex
            <br>
            PROCEDÊNCIA
            
            ESTRANG.MERC.INT.
            <br>
            FAIXA ETÁRIA
            
            Adulto
            <br>
           
        </ion-card-content>
      </ion-card>
</ion-content>
