<ion-header>
  <ion-toolbar>
    <ion-title>
      E-Commerce Nba
    </ion-title>
    <ion-button routerLink="/login" slot="end">Log Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Categorias de produtos
  <ion-list>
    <ion-item>
      <ion-label>Camisas</ion-label>
      <ion-button routerLink="/camisas">
        Ver Produtos
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Bolas</ion-label>
      <ion-button routerLink="/bolas">
        Ver Produtos
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
